@font-face {
  font-family: 'ProximaNovaThin';
  src: url("fonts/ProximaNovaThin/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNovaThin/ProximaNovaT-Thin.woff") format("woff"), url("fonts/ProximaNovaThin/ProximaNovaT-Thin.ttf") format("truetype"), url("fonts/ProximaNovaThin/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"), url("fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype"), url("fonts/ProximaNovaLight/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("fonts/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNovaSemibold/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNovaSemibold/ProximaNova-Semibold.ttf") format("truetype"), url("fonts/ProximaNovaSemibold/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SerifGotic';
  src: url("fonts/SerifGotic/SerifGothicLT.eot?#iefix") format("embedded-opentype"), url("fonts/SerifGotic/SerifGothicLT.woff") format("woff"), url("fonts/SerifGotic/SerifGothicLT.ttf") format("truetype"), url("fonts/SerifGotic/SerifGothicLT.svg#SerifGothicLT") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SerifGoticBlack';
  src: url("fonts/SerifGoticBlack/SerifGothicLT-Black.eot?#iefix") format("embedded-opentype"), url("fonts/SerifGoticBlack/SerifGothicLT-Black.woff") format("woff"), url("fonts/SerifGoticBlack/SerifGothicLT-Black.ttf") format("truetype"), url("fonts/SerifGoticBlack/SerifGothicLT-Black.svg#SerifGothicLT-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  font-family: ProximaNovaLight Helvetica sans-serif;
  font-size: 24px; }
  html body {
    margin: 0;
    color: #46515d;
    background-color: #e1a850; }
    html body p {
      margin: 0; }
    html body div.container div.upper {
      position: relative;
      background-color: #83b9dc;
      text-align: center;
      height: 7.73em;
      font-size: 4.34em;
      text-transform: uppercase;
      font-family: SerifGoticBlack; }
      html body div.container div.upper div.image-container {
        height: 6.77em;
        width: 100%;
        position: absolute;
        bottom: 0.337em;
        right: 0;
        text-align: center; }
        html body div.container div.upper div.image-container img {
          height: 100%;
          width: auto; }
      html body div.container div.upper h1 {
        font-size: 1em;
        position: absolute;
        bottom: 1.4em;
        right: 0;
        padding: 0 0.6em;
        opacity: 0.7; }
    html body div.container div.lower {
      background-color: #e1a850;
      text-align: center;
      font-size: 2.08em;
      padding-bottom: 3em; }
      html body div.container div.lower img {
        width: 53%;
        height: auto;
        margin-bottom: 1.5em; }
      html body div.container div.lower p {
        font-family: ProximaNovaThin;
        font-size: 1em; }

@media (max-width: 1100px) {
  html body div.container div.upper {
    font-size: 3.5em; } }

@media (max-width: 990px) {
  html body div.container div.upper {
    font-size: 3em; } }

@media (max-width: 790px) {
  html body div.container div.upper {
    font-size: 2.5em; }
  html body div.container div.lower {
    font-size: 1.6em; } }

@media (max-width: 665px) {
  html body div.container div.upper {
    font-size: 1.8em; }
  html body div.container div.lower {
    font-size: 1.3em; } }

/*# sourceMappingURL=page503.css.map */