@import "partials/fonts";
@import "partials/colors";

$hfHeight : 115px;
$backgroundColor: #e1a850;

html {
    position: relative;
    height: 100%;
    font-family: ProximaNovaLight Helvetica sans-serif;
    font-size: 24px;
    body {
        height: 100%;
        width: 100%;
        font-size: 100%;
        margin: 0;
        h1, h2, h3, h4 {
            font-size: 1em;
            margin: 0;
        }
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
        }
        .headerBlock {
            height: $hfHeight;
            background-color: #535b5c;
            padding-left: 6%;
            padding-right: 17%;
        }
        footer.headerBlock {
            position: relative;
            margin-top: -$hfHeight;
            height: $hfHeight;
            clear: both;
            overflow: hidden;
        }
        main {
            background-color: $backgroundColor;
            height: auto;
            min-height: 100%;
            padding-bottom: $hfHeight;
            label{
                font-weight: normal;
                margin: 0;
            }
        }
        div.container-fluid {
            padding-top: 20px;
        }
        div.adminBlock {
            width: 80%;
            margin: 0 auto;
            padding: 30px 0;
            font-size: 0.75em;
            h1 {
                font-size: 2em;
                margin: 20px 0;
            }
            table {
                background-color: lightblue;
                margin-top: 20px;
                th {
                    background-color: lightcoral;
                }
                tr.category-skill {
                    background-color: #ffffff;
                }
            }
            form {
                background-color: lightblue;
            }
        }
    }
}

@import "partials/adminPanel";
@import "partials/nav";
@import "partials/home";