section.contact{
    color: #34495e;
    header{
        background: #83b9dc;
        background: repeating-linear-gradient(
                        62deg,
                        #7aacce,
                        #83b9dc 50%
        );
        font-size: 5.83em;
        height: 2em;
        display: table;
        width: 100%;
        h1{
            display: table-cell;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            text-align: center;
            font-family: SerifGoticBlack;
            font-size: 1em;
            span{
                font-family: SerifGotic;
                font-size: 0.43em;
                margin-right: -23px;
            }
        }
    }
    div.contact-body {
        width: 100%;
        padding: 200px 17% 200px 17%;
        font-size: 3em;
        div.message-success{
            font-size: 0.33em;
        }
        h2{
            font-size: 1em;
            font-family: SerifGotic;
            text-transform: uppercase;
            width: 27.27%; //4em;
            line-height: 1.18em;
            display: inline-block;
            vertical-align: top;
            span{
                font-family: SerifGoticBlack;
            }
            margin-right: -0.8em;
        }
        div.contact-form{
            display: inline-block;
            width: 60.1%;
            vertical-align: top;
            margin-top: 1.18em;
            position: relative;
            div.form-block{
                width: 71.43%;
                height: 8.68em;
                background-color: #7aacce;
                border: 9px solid #6e9bba;
                padding: 0 2.15%;
                text-align: left;
                label{
                    font-size: 1em;
                    line-height: 1em;
                    height: 1em;
                    font-family: SerifGoticBlack;
                    text-transform: uppercase;
                    span{
                        font-size: 0.41em;
                        font-family: SerifGotic;
                        line-height: 1em;
                    }
                    width: 100%;

                    &.upsidedown{
                       position: absolute;
                        bottom: 0;
                        right: 0;
                        transform: rotate(180deg);
                    }
                }
                input {
                    font-size: 0.39em;
                    font-family: ProximaNovaThin;
                    background-color: #a9cadf;
                    color: #424344;
                    border: none;
                    float: right;
                    width: 92%;
                }
                textarea {
                    font-size: 0.39em;
                    font-family: ProximaNovaThin;
                    background-color: #a9cadf;
                    color: #424344;
                    border: none;
                    width: 96%;
                    margin-left: 2%;
                    resize: none;
                    height: 64%;
                }
                &.email-block{
                    float: right;
                    margin-bottom: 4.76em;;
                }
                &.subject-block{
                    position: absolute;
                    top: 2.38em;
                    right: 14.29%;
                }
                &.message-block{
                    position: absolute;
                    top: 4.76em;
                    left: 0;
                }
                div.form-block-inside{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
            }
        }
        input.contact-submit{
            display: inline-block;
            background-color: #c06b62;
            background: repeating-radial-gradient(
                            circle,
                            #c06b62,
                            #c06b62 51px,
                            #ad6058 24px,
                            #ad6058 56px
            );
            font-size: 0.67em;
            font-family: SerifGotic;
            text-transform: uppercase;
            width: 4.6875em;
            height: 4.6875em;
            margin-left: -1.8615em;
            margin-bottom: -2.34375em;
            vertical-align: bottom;
            border-radius: 50%;
            overflow: hidden;
            border: 0.167em solid #9a564e;
        }
    }
    footer{
        text-align: center;
        width: 100%;
        clear: both;
        font-size: 2.6em;
        font-family: SerifGotic;
        color: #424344;
        margin-bottom: 170px;
        p{
            margin: 0;
            line-height: 1em;
            margin-bottom: 0.3em;
            a{
                color: #6e9bba;
            }
        }
    }
}

@mixin contact-max-width-1500 {
    section.contact{
        div.contact-body {
            padding: 140px 10% 200px 10%;
        }
    }
}

@mixin contact-max-width-1250 {
    section.contact{
        div.contact-body {
            padding: 100px 10% 150px 10%;
            font-size: 2.6em;
        }
        footer{
            font-size: 2.6em;
            margin-bottom: 150px;
        }
    }
}

@mixin contact-max-width-1100 {
    section.contact{
        header{
            font-size: 5em;
        }
        div.contact-body {
            padding: 80px 6% 100px 6%;
        }
    }
}

@mixin contact-max-width-990 {
    section.contact {
        header{
            font-size: 4em;
        }
        div.contact-body {
            text-align: center;
            font-size: 2.2em;
            h2 {
                display: block;
                width: 100%;
                text-align: center;
            }
            div.contact-form{
                width: 70%;
            }
        }
        footer{
            font-size: 2.2em;
            margin-bottom: 80px;
        }
    }
}

@mixin contact-max-width-900 {
    section.contact {
        header{
            font-size: 3em;
        }
    }
}

@mixin contact-max-width-665 {
    section.contact {
        div.contact-body {
            font-size: 2em;
            text-align: center;
            div.contact-form{
                width: 95%;
                div.form-block {
                    width: 78%;
                    &.subject-block{
                        right: 11%;
                    }
                }
            }
            input.contact-submit{
                display: block;
                margin: 20px 0;
                float: right;
            }
        }
        footer{
            font-size: 1.4em;
        }
    }
}
@mixin contact-max-width-399{
    section.contact {
        div.contact-body {
            font-size: 1.8em;
            text-align: center;
            div.contact-form{
                div.form-block {
                    width: 86%;
                    &.subject-block{
                        right: 7%;
                    }
                }
            }
        }
        footer{
            font-size: 1em;
        }
    }
}