section.contact{
    color: #34495e;
    header{
        background: #83b9dc;
        background: repeating-linear-gradient(
                        62deg,
                        #7aacce,
                        #83b9dc 50%
        );
        font-size: 5.83em;
        height: 2em;
        display: table;
        width: 100%;
        h1{
            display: table-cell;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            margin: auto;
            text-transform: uppercase;
            text-align: center;
            font-family: SerifGoticBlack;
            font-size: 1em;
            span{
                font-family: SerifGotic;
                font-size: 0.43em;
                margin-right: -23px;
            }
        }
    }
    div.contact-body {
        width: 100%;
        padding: 200px 17% 170px 17%;
        font-size: 3em;
        h2{
            font-size: 1em;
            font-family: SerifGotic;
            text-transform: uppercase;
            width: 27.27%; //4em;
            line-height: 1.18em;
            display: inline-block;
            vertical-align: top;
            span{
                font-family: SerifGoticBlack;
            }
        }
        div.contact-form{
            display: inline-block;
            width: 60.1%;
            min-height: 965px;
            vertical-align: top;
            //background-color: #ffffff;
            margin-top: 1.18em;
            position: relative;
            div.form-block{
                width: 71.43%;
                height: 625px;
                background-color: #7aacce;
                border: 9px solid #6e9bba;
                position: absolute;
                padding: 0 2.15%;
                label{
                    font-size: 1em;
                    line-height: 1em;
                    height: 1em;
                    font-family: SerifGoticBlack;
                    text-transform: uppercase;
                    span{
                        font-size: 0.41em;
                        font-family: SerifGotic;
                        line-height: 1em;
                    }
                    width: 100%;
                }
                input {
                    font-size: 0.39em;
                    font-family: ProximaNovaThin;
                    background-color: #a9cadf;
                    color: #424344;
                    border: none;
                    float: right;
                    width: 92%;
                }
                textarea {
                    font-size: 0.39em;
                    font-family: ProximaNovaThin;
                    background-color: #a9cadf;
                    color: #424344;
                    border: none;
                    float: right;
                    width: 92%;
                }
                &.email-block{
                    top: 0;
                    right: 0;
                }
                &.subject-block{
                    top: 2.38em;
                    right: 1.18em;
                }
                &.message-block{
                    top: 4.76em;
                    left: 0;
                }
            }
        }
    }
}