@font-face {
  font-family: "ProximaNovaThin";
  src: url("fonts/ProximaNova-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("fonts/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SerifGotic";
  src: url("fonts/itc-serif-gothic-lt-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SerifGoticBlack";
  src: url("fonts/itc-serif-gothic-lt-black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

