div.container-fluid{
    font-size: 1.2em;
    font-family: SerifGotic;
    color: #34495e;
    padding: 3em;
    a{
        color: #34495e;
    }
    input{
        font-size: 0.8em;
        font-family: SerifGotic;
        color: #34495e;
    }
}