$navTextColor : #83b9dc;
$navActiveColor : #e1a850;
$navFontSize  : 1em;
nav {
    float: right;
    width: 62%;
    text-align: right;
    margin-top: 37px;
        a {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            margin-left: 13%;
            color: $navTextColor;
            font-size: $navFontSize;
            line-height: $navFontSize;
            font-family: ProximaNovaThin;
            color: $navTextColor;
            &.active{
                color: $navActiveColor;
                &:hover{
                    color: $navActiveColor;
                }
            }
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: $navTextColor;
                text-decoration: underline;
            }
        }
}

